	.btn{
			width: 240px;
			line-height: 20px;
			cursor:pointer;
			padding: 12px;
			text-align: center;
			font-size: 20px;
			color: #fff;
		}
	.f-color-control{
			transform: scale(1);
			border-radius:6px;
			background-color: #ff6700;
		}
	.f-color-control:before{
			position: absolute;
			top: 0;  right: 0;  bottom: 0;  left: 0;
			z-index:-1;
			border-radius:6px;
			background:rgba(0,0,0,.1);
		}
	.f-color-control:after{
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index:-1;
			border-radius:6px;
			background:rgba(255,255,255,.3);
		}
	.f-color-control:hover:before{ content:""; }
	.f-color-control:active:after{ content:""; }
	.a-href
		{
			font-size:12px; 
			font-weight:bold; 
			text-decoration:none
		}
	a:link { color:#000000 }
		 
	a:active { color:#0066FF }
	#pwd {width: 240px; height:24px; font-size:16px; padding-left:0px}
	#username { width: 240px; height:24px; font-size:16px; padding-left:0px}
	#login_form_pwd  { position:relative; margin-top:20px; margin-left:70px}
	#login_form_ca  { position:relative; margin-top:20px; margin-left:70px}
	#id_captcha_1 { width: 240px; height:24px; font-size:16px; padding-left:0px}
	#errorCont  { position:relative; margin-top:5px; margin-left:70px;color:red; font-size:11px; }
	#login_form { position: absolute;top: 28%; left:50%;margin-left:-200px; margin-right:-200px; width:400px; height:390px; background-color:#FFFFFF }
	input::-webkit-input-placeholder {  color: #999;  -webkit-transition: color.5s;  }  

	input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {  color: #c2c2c2;  -webkit-transition: color.5s;  } 
