{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://libs.baidu.com/jquery/1.3.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.css">
    <title>Title</title>
</head>
<body>
 <div class="container">
        <p>问题列表，点击查看详细信息</p>

            <div style="height: 100px; width: 100%; background-color: #0066FF" >{{knowlageinfo.kname}}
                <a href={% url 'aswer' %}+'?id='+{{knowlageinfo.kid}}+'?type=1'>点击查看答案</a>
            </div>
            {% if  request.session.is_login %}
            <div class="col-md-1 col-lg-2">
                <span> 您好，用户：<a href="">{{ request.session.user_name }}</a> </span>
                <a href="{% url 'logout' %}">注销</a>
            </div>
            {% else %}

            <div class="col-md-2 col-lg-2">
                <a href="{% url 'login' %}">登录</a>&nbsp;&nbsp;
                <a href="{% url 'register' %}" >注册</a>
            </div>
            {% endif %}
            {% if  aswer_detail is not None %}
            <div class="">
                 <span>
                     {{ aswer_detail }}
                 </span>
            <p><a href= {% url 'aswer' %}+'?id='+{{knowlageinfo.kid}}+'?type=3'> 答案有误，我要提交</a></p>
            </div>
                {% else %}
                <span>暂无答案，</span> <a href={% url 'aswer' %}+'?id='+{{knowlageinfo.kid}}+'?type=2'>我要回答</a>
            {% endif %}
                <div>

                </div>


</body>
<script src="{% static "js/anwser.js"%}"></script>
</html>