

<head>
<title>12323</title>
</head>
	
			 
			
<body>
 <script src="\src\js\test.js"></script>

<form action="\index\" method="post">

    <label>用户名： </label><input type="text" name="username"  style="width: 600px; height:37px; font-size:16px"><br />
    <label>密  码： </label><input type="text" name="pwd"  style="width: 600px; height:37px; font-size:16px"><br />
    <label>电  话： </label> <input type="text" name="phone"  style="width: 600px; height:37px; font-size:16px"><br />
    <br />
<button type="submit" id="btn_search"  onclick="mychange"  class="btn-sign btn btn-default ripple btn-lg" >注册</button>
    </form>


</body>